<head>
<title>Doug`s Coin Changer</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<center>
<div class="cctitle">
Here is your change 
</div>
<br>
<img alt="math" src="/img/man5.png" width="500" height="500" />
<br>
<div class="cctext">
Thank you, Come again?	
</div>
</center>
</head>
</body>