<head>
<title>Doug`s Coin Changer</title>
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<center>
<div class="cctitle">
Welcome to Doug`s Coin Changer
</div>
<img alt="math" src="/img/man.png" width="200" height="200" />
<div class="cctext">
What would you like change for?
<br>
<br>
<form method="post" action="change_given">
	<input type="ctext" name="change_given">
	<br>
	<br>
	<input type="submit">
	<br>
	<br>
<img alt="bills" src="/img/bills.png" width="400" height="300" />	
</form>
</div>
</center>
</head>
</body>